/* Resetting default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Setting up basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Styling for the header */
#header {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styling for the content section */
#content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styling for the book thumbnails and accessories */
.accessories {
    list-style: none;
    margin-bottom: 20px;
}

.accessories li {
    display: inline-block;
    margin-right: 10px;
}

.accessories li.first {
    margin-left: 0;
}

.thumbnail img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 15px;
    scale: 0.7;
    rotate: 0deg;
    transition: all 0.7s;
}
.thumbnail img:hover{
    scale: 1;
    rotate: 360deg;
}


/* Styling for the view and download links */
.accessories li div {
    text-align: center;
    margin-top: 5px;
}

.accessories li div a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling for the paging navigation */
#paging {
    text-align: center;
    margin-top: 20px;
}

#paging a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

#paging a.current {
    background-color: #333;
    color: #fff;
}
li,image{
    size: 400,500;
}
